.banner_padrao{
     height: 460px !important;
    object-fit: fill;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0% !important;
    bottom: 0% !important;
}

.btn-primary{
  margin: 10px;
 
  
}

